@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MyLayout</title>
</head>
<body>
    <h2>MyLayout</h2>
    <div>
        @RenderBody()
        @RenderSection("not defined NameSection", false )
    
    </div>
</body>
</html>
